@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  marquee {
    height: 55vh;
    background-color: rgb(33, 33, 33);
    width: 100%;
    margin-top: 100px;
  }

  #tex {
    color: white;
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translateX(-40%, -40%);
  }

  #tex h1 {
    font-size: 20px;
  }

  #tex h2 {
    font-size: 15px;
  }

  .xat {
    text-align: center;
    padding-top: 50px;
    margin: 10px;
    font-size: 20px;
  }

  .categorias {
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .categorias img {
    width: 90px;
    height: 90px;
    transition: all ease-in 1s;
  }

  .categorias img:hover {
    width: 90px;
    height: 90px;
    transition: all ease-in 1s;
    border-radius: 30px;
  }

  .fa-bars {
    margin-top: 20px;
    color: black;
    width: 300px;
    height: 600px;
    display: block;
  }

  #btn {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: rgb(2, 94, 2);
    width: 90px;
    height: 30px;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: all ease 1s;
    font-size: 10px;
  }

  h4 {
    font-size: 10px;
  }

  /* 
  .categorias img:hover {
    width: 200px;
    height: 200px;
    border-radius: 20px;
  } */

  .tenis {
    height: 30vh;
  }

  #Sam {
    font-size: 20px;
    padding-top: 80px;
  }

  video {
    margin-top: -60px;
    padding-bottom: -160px;
    padding-top: -200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 140px;
    height: 300px;
  }

  #estiloss {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .stilos {
    flex-wrap: wrap;
  }

  .stilos img {
    width: 180px;
    height: 230px;
    border-radius: 10px;
  }

  .text h1 {
    font-size: 18px;
  }

  .text p {
    font-size: 10px;
  }

  .stilos img:hover {
    width: 120px;
    height: 200px;
  }

  .texting {
    font-size: 10px;
    padding: 10px 20px;
  }

  .texting img {
    width: 200px;
    height: 200px;
  }

  #Outros {
    margin-bottom: 50px;
  }

  .leonel {
    height: 34vh;
  }

  .sister img {
    width: 900px;
    height: 100px;
  }

  #content {
    padding: 30px 50px;
  }

  #img1 {
    width: 220px;
    height: 180px;
    border-radius: 20px;
  }

  .son {
    padding-left: 40px;
  }

  #imgs {
    height: 60px;
    width: 50px;
    border-radius: 20px;
  }

  #content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;
    margin-bottom: 50px;
    font-size: 10px;
  }

  nav {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    margin-top: -10px;
    margin-right: -227px;
    flex-direction: row;
    padding: 0px 13px;
  }

  header {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: "Inconsolata", monospace;
    width: 50vw;
    position: absolute;
  }

  header img {
    display: flex;
    margin: auto;
    margin-right: -51px;
  }

  header .fa-cart-shopping,
  .fa-user {
    display: none;
  }

  .imgg {
    display: none;
  }

  .card {
    display: flex;
    justify-content: center;
    background-color: rgb(10, 68, 10);
    color: white;
    height: 20px;
    width: 100px;
    border-radius: 5px;
    transition: all ease 3ms;
  }

  ul {
    display: block;
  }

  .sister {
    padding-left: 50px;
  }
  /* 
  .menu {
    display: block;
  } */
}
